<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="Covid" connectionString="Data Source=[DBServerIPAddress];Initial Catalog=[DBName];Persist Security Info=True;User ID=[yourusername];Password=[yourpw];Connect Timeout=120" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
